/*  Variables */
$notification-bg-color: var(--notification-bg-color);
$notification-font-color: var(--notification-font-color);
$color-header-text: var(--color-header-text);
$color-accent: var(--color-accent);
$color-text: var(--color-text);
$color-contrast-bg: var(--color-contrast-bg);
$color-drawer-text: var(--color-drawer-text);
$color-drawer-text-meta: var(--color-drawer-text-meta);
$font-body: var(--font-body);
$font-size-heading-1: var(--font-size-heading-1);
$font-heading: var(--font-heading);
$font-heading-weight: var(--font-heading-weight);
$font-heading-style: var(--font-heading-style);
$color-footer-border: var(--color-footer-border);
$color-footer-input: var(--color-footer-input);
$color-footer-text: var(--color-footer-text);
$color-footer-text-meta: var(--color-footer-text-meta);
$font-size-body-base: var(--font-size-body-base);
$font-size-body-small: var(--font-size-body-small);
$font-size-body-extra-small: var(--font-size-body-extra-small);

/* End of  Variables */

/* Reset CSS */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of Reset CSS */

/* General mixin */
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
@mixin transition($transition) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
@mixin align-items($align) {
  -webkit-box-align: $align;
  -webkit-flex-align: $align;
  -ms-flex-align: $align;
  -webkit-align-items: $align;
  align-items: $align;
}
@mixin flex-direction($direction) {
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
}
@mixin flex-wrap($wrap) {
  flex-wrap: $wrap;
  -webkit-flex-wrap: $wrap;
}
@mixin justify-content($content) {
  justify-content: $content;
  -webkit-justify-content: $content;
}

/* End of General mixin */

/* Lazyload Class */
.blur-up {
  -webkit-filter: blur(4px);
  filter: blur(4px);
}
.blur-up .lazyloaded {
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

.img-responsive {
  width: 100%;
  height: auto;
  max-width: 100%;
}
/*End of Lazyload Class */

/* Announcement Bar */

.announcement {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(center);
  .announcement_text {
    padding: 10px 0;
    h6 {
      text-align: center;
      color: $notification-font-color;
      font-size: $font-size-body-extra-small;
      text-transform: uppercase;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }
}
/* End of Announcement Bar */

/* Header */
.header {
  @include flexbox();
  @include justify-content(space-between);
  // margin: 0px 89px;
  padding: 0 89px;
  padding-top: 35px;
  @include align-items(center);
  color: $color-drawer-text;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 30px;
  .heading {
    h1 {
      font-size: xx-large;
    }
  }
  .header-left {
    @include flexbox();
    @include flex-direction(column);
    .navbar {
      margin-top: 16px;
      ul {
        display: flex;
        list-style-type: none;
        li {
          margin-right: 22px;
          font-family: $font-body;
          a {
            color: $color-drawer-text;
            font-weight: 100;
            text-decoration: none;
            outline: none;
          }
        }
      }
    }
  }
  .header-right {
    .head-icons {
      i {
        margin: 12px 10px 0px 0px;
      }
      i:hover {
        cursor: pointer;
      }
    }
  }
}
/* End of Header */

/*  Product */
.product-section {
  position: relative;
  top: -130px;
  z-index: -1;
  color: $color-drawer-text;
  // color: btn-clr);
  div {
    img {
      top: 500px;
      width: 100%;
      height: 100vh;
      object-fit: cover;
    }
    .product-description {
      position: absolute;
      bottom: 180px;
      left: 80px;
      h3 {
        font-weight: 500;
        margin-bottom: 20px;
        font-size: $font-size-heading-1;
        line-height: 1.3em;
        font-family: $font-heading;
        font-weight: $font-heading-weight;
        font-style: $font-heading-style;
      }
    }
    button:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    button {
      padding: 12px 20px;
      background-color: $color-accent;
      border: none;
      color: $color-drawer-text;
    }
  }
}
/* End of Product */

/* Collectons-grid */
.collections-grid {
  display: grid;
  justify-content: center;
  grid-template-columns: 550px 550px;
  margin: 0px 40px;
  grid-gap: 20px;
  .yoko-moto {
    grid-column: 1 / 4;
    text-align: center;
    margin-bottom: 40px;
    p {
      font-family: $font-body;
      line-height: 1.5;
      font-size: medium;
      font-weight: 100;
      color: $color-text;
    }
  }
  .grid1 {
    grid-column: 1/2;
    position: relative;
    height: 400px;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
    .collection-details {
      position: absolute;
      bottom: 40%;
      left: 30px;
      h3 {
        margin-bottom: 15px;
        font-size: xx-large;
        color: $color-header-text;
      }
      button {
        padding: 12px 20px;
        background-color: $color-accent;
        border: none;
        color: $color-drawer-text;
      }
      button:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
  .grid2 {
    grid-row: 2/4;
    grid-column: 2/3;
    position: relative;
    height: 820px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .collection-details {
      position: absolute;
      bottom: 50%;
      left: 30px;
      h3 {
        margin-bottom: 15px;
        font-size: xx-large;
        color: $color-header-text;
      }
      button {
        padding: 12px 20px;
        background-color: $color-accent;
        border: none;
        color: $color-drawer-text;
      }
      button:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
  .grid3 {
    height: 400px;
    position: relative;
    grid-column: 1/2;
    .collection-details {
      position: absolute;
      bottom: 40%;
      left: 30px;
      h3 {
        margin-bottom: 15px;
        font-size: xx-large;
        color: $color-header-text;
      }
      button {
        padding: 12px 20px;
        background-color: $color-accent;
        border: none;
        color: $color-drawer-text;
      }
      button:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .collection-box {
    grid-column: 1/3;
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    background-color: $color-contrast-bg;
    padding: 60px;
    .slider-for {
      .quote {
        width: 100%;
        h3 {
          margin-bottom: 25px;
          font-size: x-large;
          color: $color-header-text;
        }
      }
    }
    .slider-nav {
      .profiles {
        img {
          height: auto;
        }
      }
    }
    p {
      margin-bottom: 25px;
    }
  }
}

/* End of Collections-grid */

/* shopify-section1 */
.shopify-section1 {
  position: relative;
  margin-top: 30px;
  img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
  }
  .section-details {
    position: absolute;
    bottom: 30%;
    left: 6%;
    font-family: $font-body;
    h3 {
      font-size: x-large;
      font-weight: 100;
    }
    p {
      font-weight: 100;
      font-size: large;
      margin-top: 12px;
    }
    button {
      margin-top: 12px;
      padding: 12px 20px;
      background-color: $color-accent;
      border: none;
      color: $color-drawer-text;
    }
    button:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}

/* End of shopify-section1 */

/* Product sell */
.product-sell {
  @include flexbox();
  margin: 0 95px;
  margin-top: 20px;
  padding: 30px;
  background-color: $color-contrast-bg;
  @include align-items(center);
  @include justify-content(space-between);
  .description {
    width: 25%;
    font-family: $font-body;
    h4 {
      margin-bottom: 25px;
    }
    p {
      margin-bottom: 20px;
      overflow-wrap: break-word;
    }
    a {
      color: $color-accent;
    }
  }
  .products {
    @include flexbox();
    @include justify-content(space-evenly);
    @include align-items(center);
    width: 80%;
    .product {
      position: relative;
      margin: 10px;
      width: 25%;
      .product-img {
        a {
          img {
            width: 100%;
          }
        }
        button {
          position: absolute;
          bottom: 50px;
          left: 0px;
          width: 100%;
          padding: 12px 20px;
          background-color: $color-accent;
          border: none;
          color: $color-drawer-text;
        }
        button:hover {
          cursor: pointer;
        }
      }
      .product-description {
        font-family: $font-body;
        color: $color-drawer-text-meta;
      }
    }
  }
}
/* End of Product sell */

/* featured-collection */
.featured-collection {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  background-color: $color-contrast-bg;
  padding: 35px 24px;
  margin: 0px 40px;
  margin-top: 40px;
  font-family: $font-body;

  .collection-details {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    h3 {
      font-size: large;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 20px;
    }
    a {
      color: $color-accent;
      margin-bottom: 20px;
    }
  }
  .featured-items {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    .product {
      position: relative;
      margin: 17px;
      padding: 18px;
      width: 224px;
      .product-img {
        button {
          position: absolute;
          bottom: 50px;
          left: 18px;
          width: 86%;
          padding: 12px 20px;
          background-color: $color-accent;
          border: none;
          color: $color-drawer-text;
          margin-bottom: 12px;
        }
        button:hover {
          cursor: pointer;
        }
      }
      .product-description {
        font-family: $font-body;
        color: $color-drawer-text-meta;
      }
    }
  }
}

/* End featured-collection */

/* product-cart */
.product-cart12 {
  @include flexbox();
  @include flex-direction(row);
  @include justify-content(space-between);
  margin: 25px 60px;
  padding: 40px;
  background-color: $color-contrast-bg;
  font-size: $font-size-body-base;
  line-height: 2rem;
  font-family: $font-body;
  .cart-left {
    @include flexbox();
    @include flex-direction(column);
    padding: 10px;
    width: 60%;
    margin-right: 209px;
    .product-price {
      line-height: 4rem;
      font-size: $font-size-body-small;
      color: $color-drawer-text-meta;
    }
    h2 {
      font-size: $font-size-heading-1;
      line-height: 1.3em;
      font-family: $font-heading;
      font-weight: 100;
      line-height: 5rem;
      border-bottom: 1px solid $color-drawer-text-meta;
    }
    label {
      margin-top: 20px;
      line-height: 2rem;
      font-family: $font-body;
    }
    input {
      padding: 10px 6px;
      margin-bottom: 18px;
    }
    button {
      padding: 12px 20px;
      background-color: $color-accent;
      border: none;
      color: $color-drawer-text;
      margin-bottom: 30px;
    }
    button:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    em {
      line-height: 1.5rem;
      word-wrap: break-word;
      font-family: $font-body;
      font-style: italic;
      a {
        color: $color-accent;
      }
    }
    p.product-quote {
      font-family: $font-body;
      line-height: 1.5rem;
      margin-top: 20px;
      font-size: $font-size-body-small;
      font-weight: 100;
    }
    a {
      color: $color-accent;
      margin-top: 80px;
    }
  }
  .cart-right {
    margin-left: 50px;
    width: 100%;
    img {
      width: 100%;
      height: 85%;
    }
  }
}
/* End product-cart */

/* Blogs */
.blogs {
  margin: 25px 60px;
  height: 100vh;
  background-color: $color-contrast-bg;
  font-size: $font-size-body-base;
  line-height: 2rem;
  font-family: $font-body, georgia;
  // @include flexbox();
  display: flex !important;
  .blog-post {
    // @include flexbox();
    display: flex !important;
    @include flex-direction(row);
    @include justify-content(space-between);
    .blog-image {
      width: 60%;
      img {
        width: 100%;
        height: 100vh;
      }
    }
    .blog-description {
      width: 30%;
      padding: 38px;
      h6 {
        font-size: $font-size-body-small;
        color: $color-drawer-text-meta;
      }
      h5 {
        text-transform: capitalize;
        font-size: $font-size-heading-1;
        line-height: 1.3em;
        font-family: $font-heading;
        font-weight: $font-heading-weight;
        font-style: $font-heading-style;
        font-weight: 100;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      p {
        line-height: 1.5rem;
        font-weight: 100;
        font-size: medium;
      }
    }
  }
}

/* End of Blogs */

/* dynamic-slideshow */
.dynamic-slideshow {
  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  width: 100%;
  height: 100vh;
  position: relative;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .dynamic-section-content {
    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    color: $color-drawer-text;
    position: absolute;
    bottom: 30%;
    h2 {
      font-size: $font-size-heading-1;
      margin-bottom: 25px;
    }
    p {
      font-family: $font-body;
      margin-bottom: 25px;
    }
    button {
      padding: 12px 20px;
      background-color: $color-accent;
      border: none;
      color: $color-drawer-text;
    }
    button:hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }
}
/* End of dynamic-slideshow*/

/* footer */
.footer {
  @include flexbox();
  @include flex-direction(column);
  padding: 30px 80px;
  background-color: $color-contrast-bg;
  font-family: $font-body;
  .footer-top {
    @include flexbox();
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: 60px;
    p {
      width: 40%;
      font-size: medium;
    }
    input {
      width: 50%;
      padding: 13px 9px;
      font-size: medium;
      background-color: $color-footer-border;
      border-radius: 5px;
      border: none;
      box-shadow: -1px 1px $color-footer-input;
    }
  }
  .footer-middle {
    @include flexbox();
    @include justify-content(space-between);
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    .middle-left {
      width: 40%;

      h5 {
        font-size: medium;
        margin-bottom: 30px;
      }
      p {
        font-size: $font-size-body-extra-small;
        line-height: 1.2rem;
      }
      a {
        color: $color-accent;
      }
    }
    .middle-right {
      width: 51%;
      margin-left: -50px;
      @include flexbox();
      @include flex-direction(row);
      @include justify-content(space-between);
      .footer-nav {
        p {
          margin-bottom: 30px;
        }
        ul {
          li {
            line-height: 1.2rem;
            a {
              color: $color-footer-text;
              font-size: $font-size-body-extra-small;
            }
          }
        }
      }
    }
  }
  .footer-bottom {
    margin-top: 20px;
    @include flexbox();
    @include justify-content(space-between);
    .bottom-left {
      @include flexbox();
      @include flex-direction(column);
      .payment-option {
        @include flexbox();
        margin-bottom: 25px;
        select {
          margin-right: 30px;
          font-size: x-small;
        }
        img {
          width: 50px;
          height: 20px;
          object-fit: cover;
          padding: 1px;
          margin-right: 6px;
          background-color: white;
          border: 1px solid #fff;
        }
        img:hover {
          cursor: pointer;
        }
      }
      .footer-copyright {
        font-size: x-small;
        color: $color-footer-text-meta;
        p {
          line-height: 1.5rem;
        }
      }
    }
    .social-icons {
      i {
        padding: 5px 6px;
        color: $color-footer-text-meta;
      }
      i:hover {
        cursor: pointer;
      }
    }
  }
}
/* End of footer */
