<!doctype html>
<html class="supports-no-js" lang="{{ request.locale.iso_code }}">

<head>
  {% render 'head' %}
  {{content_for_header}}
</head>

<body>
  <!-- {%- section 'notificatoin' -%} -->
  {{ content_for_layout }}
  {% render 'scripts' %}
</body>

</html>