<div class="announcement">
    {%- for block in section.blocks -%}
    {%- if block.settings.announcement_text -%}
    <div class="announcement_text announcement-{{forloop.index}}">
        <h6>{{ block.settings.announcement_text}}</h6>
    </div>
    {%- endif -%}
    {%- endfor -%}
</div>
<style>
        {%- for block in section.blocks -%}
        {%- if block.settings.background_clr -%}
            .announcement .announcement-{{forloop.index}}  {
                background-color: {{block.settings.background_clr}};
            }
            .announcement .announcement-{{forloop.index}} h6  {
                color: {{block.settings.text_clr}};
            }
        {%- endif -%}
        {%- endfor -%}

</style>
{% schema %}
{
"name": "Announcement bar",
"blocks": [
{
"name": "Announcement",
"type": "text",
"settings": [
{
"type":"color",
"id":"background_clr",
"label":"Background color",
"default":"#67a281"
},
{
"type":"color",
"id":"text_clr",
"label":"Text color",
"default":"#ffffff"
},
{
"type": "text",
"id":"announcement_text",
"label":"Announcement text"
}
]
}
],
"presets":[
{
"category":"Announcement",
"name":"Announcement bar"
}
]
}
{% endschema %}