<!-- blog -->
<div class="blogs">
    {%- for block in section.blocks -%}
    <div class="blog-post">
        <div class="blog-image">
            {%- render 'srcset', src_name:block.settings.blog_image, src_alt:block.settings.image.alt -%}
        </div>
        <div class="blog-description">
            <h6>Blog posts</h6>
            <h5>{{ block.settings.blog_heading }}</h5>
            <p>{{ block.settings.blog_detail }} </p>
        </div>
    </div>
    {%- endfor -%}

</div>

{% schema %}
{

"name": "Blog Slide-show",
"blocks": [
{
"name": "Blogs",
"type": "text",
"settings": [
{
"type": "image_picker",
"id":"blog_image",
"label":"Blog image"
},
{
"type": "text",
"id":"blog_heading",
"label":"Blog heading"
}, {
"type": "text",
"id":"blog_detail",
"label":"Blog detail"
}
]
}
],
"presets":[
{
"category":"Blogs",
"name":"Blog slide show"
}
]
}
{% endschema %}