{%- for block in section.blocks -%}
<div class="product-sell">
    <div class="description">
        <!-- <h4>{{ block.settings.product_category }}</h4>
        <p>{{block.settings.product_description}}</p> -->
        <h4>{{collections['yoko-co'].title}}</h4>
        <p>{{collections['yoko-co'].description}}</p>
        <a href="">Shop Now &#8594</a>
    </div>
    <div class="products">
        {%- for product in collections['yoko-co'].products limit:3 -%}
        <div class="product">
            <div class="product-img">
                <a href="{{product.url}}">
                    {%- render 'srcset', src_name:product.featured_image, src_alt:product.title -%}
                </a>
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p>{{product.title}} </p>
                <p>{{product.price | money}}</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>
{%- endfor -%}
{% schema %}
{
"name":"Product collection",
"blocks":[
{
"name": "Produts Sell",
"type": "text",
"settings": [
{
"type": "text",
"id":"product_category",
"label":"Product category"
},
{
"type": "text",
"id":"product_description",
"label":"Product description"
}
]
}
],
"presets":[
{
"name":"Product-collections"
}
]
}
{% endschema %}