<!-- featured-collection -->
<div class="featured-collection">
    <div class="collection-details">
        <h3>The Fall Collection</h3>
        <p>Our new fall favourites are inspired by the color palettes of falling leaves.</p>
        <a href="">Shop the Collection &#8594</a>
    </div>
    <div class="featured-items">
        {%- for product in collections['yoko-co'].products limit:8 -%}
        <div class="product">
            <div class="product-img">
                <a href="{{product.url}}">
                    {%- render 'srcset', src_name:product.featured_image, src_alt:product.title -%}
                </a>
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p>{{product.title}} </p>
                <p>{{product.price | money}}</p>
            </div>
        </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
"name":"My collection",
"settings":[],
"presets":[
{
"name":"my-collections"
}
]
}
{% endschema %}