<div class="footer">
    {%- for block in section.blocks -%}

    <div class="footer-top">
        <p>Join our mailing list</p>
        <input type="email" placeholder="Email address">
    </div>
    <div class="footer-middle">
        <div class="middle-left">
            <h5>About the shop</h5>
            <p>This text is purely a demonstration of <a href=""> Context</a>, a Shopify theme by Fluorescent. The
                imagery has been
                graciously provided by the lovely folks at <a href=""> mlouye</a>. They make leather bags that are
                so beautiful that
                you should drop everything and buy some right now: <a href=""> https://mlouye.com</a>. If you have
                any questions
                about the theme or about this demonstration, <a href=""> don't hesitate to reach out</a>. </p>
        </div>
        <div class="middle-right">
            {%- for link in linklists[block.settings.main_menu].links -%}
            <div class="footer-nav">
                <p>{{link.title}}</p>
                {%- if link.links -%}
                <ul>
                    {%- for sublink in link.links -%}
                    <li>
                        <a href="{{sublink.url}}">{{sublink.title}}</a>
                    </li>
                    {%- endfor -%}
                </ul>
                {%- endif -%}
            </div>
            {%- endfor -%}
        </div>
    </div>
    <div class="footer-bottom">
        <div class="bottom-left">
            <div class="payment-option">
                <select name="currency">
                    <option value="USD$">USD$</option>
                    <option value="EUR€">EUR€</option>
                    <option value="JPY ¥">JPY ¥</option>
                    <option value=" CAD $"> CAD $</option>
                </select>
                <div class="payment-type">
                    <img src="https://img.icons8.com/color/48/000000/visa.png" />
                    <img src="https://img.icons8.com/color/48/000000/mastercard.png" />
                    <img src="https://img.icons8.com/color/48/000000/amex.png" />
                    <img src="https://img.icons8.com/color/48/000000/paypal.png" />
                    <img src="https://img.icons8.com/fluent/48/000000/diners-club.png" />
                    <img src="https://img.icons8.com/color/48/000000/discover.png" />
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © 2021, Yoko & Co.</p>
                <p>Powered by Shopify</p>
            </div>

        </div>
        <div class="social-icons">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-snapchat-ghost"></i>
        </div>
    </div>
    {%- endfor-%}
</div>

{% schema %}
{
"name": "Footer",
"blocks": [
{
"name": "Footer",
"type": "text",
"settings": [
{
"type":"link_list",
"id":"main_menu",
"label":"Navbar"
}
]
}
],
"presets":[
{
"name":"footer"
}
]
}
{% endschema %}