<!-- grid-collection -->
<div class="collections-grid">

    <div class="yoko-moto">
        <p>At Yoko & Co., our goal is to improve the quality of every bag that we make. We believe <br>that
            manufacturing is a sacred process. We focus on making every day essentials out of luxury <br> materials. We
            push the envelope from our studio in Copenhagen.</p>
    </div>
    {%- for block in section.blocks -%}
    {%- if block.settings.product_image -%}
    {% assign class_name = 'grid' | append:block.settings.product_number %}
    <div class="{{ class_name }}">
        {%- render 'srcset', src_name:block.settings.product_image, src_alt:block.settings.image.alt -%}
        <div class="collection-details">
            <h3>{{block.settings.product_name}}</h3>
            <button>Shop Now</button>
        </div>
    </div>
    {%- endif -%}

    {%- endfor-%}
    <div class="collection-box">
        <i class="fa fa-quote-left"></i>
        <div class="slider-for">
            <div class="quote">
                <h3>
                    <q> Beautiful sustainable and ethically made bags at a price point that you can't deny is
                        reasonable.</q>
                </h3>
                <p>New Your Times</p>
            </div>
            <div class="quote">
                <h3>
                    <q> Beautiful sustainable and ethically made bags at a price point that you can't deny is
                        reasonable.</q>
                </h3>   
                <p>New Your Times</p>
            </div>
            <div class="quote">
                <h3>
                    <q> Beautiful sustainable and ethically made bags at a price point that you can't deny is
                        reasonable.</q>
                </h3>
                <p>New Your Times</p>
            </div>
        </div>
        <div class="slider-nav">
            <div class="profiles">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/fc3_300x.png?v=1554041132"
                    alt="profile">
            </div>
            <div class="profiles">

                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/fc3_300x.png?v=1554041132"
                    alt="profile">
            </div>
            <div class="profiles">

                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/fc3_300x.png?v=1554041132"
                    alt="profile">
            </div>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Grid-collecton",
"blocks":[
{
"name":"Prodcts",
"type":"text",
"settings":[
{
"type": "text",
"id":"moto",
"label":"Moto"
},
{
"type": "image_picker",
"id": "product_image",
"label": "Product image"
},
{
"type": "text",
"id": "product_name",
"label": "Product name"
},
{
"type": "text",
"id": "product_number",
"label": "Product number"
}
]
}
],
"presets":[
{
"category":"Products Grid",
"name":"Products"
}
]
}
{% endschema %}