<!-- header -->
<div class="header">
    {%- for block in section.blocks -%}
    <div class="header-left">
        <div class="heading">
            <h1>{{ block.settings.heading_name }}</h1>
        </div>
        <div class="navbar">
            <ul>
                {%- for link in linklists[block.settings.main_menu].links -%}

                <li>
                    <a href="{{link.url}}">{{link.title}}</a>
                </li>

                {%- endfor -%}
            </ul>
        </div>
    </div>
    <div class="header-right">
        <div class="head-icons">
            <i class="fa fa-search"></i>
            <i class="fa fa-user-circle"></i>
            <i class="fa fa-shopping-cart"></i>
        </div>
    </div>
    {%- endfor-%}
</div>
{% schema %}
{
"name": "Header section",
"blocks": [
{
"name": "Header",
"type": "text",
"settings": [
{
"type": "text",
"id":"heading_name",
"label":"Heading Name"
},
{
"type":"link_list",
"id":"main_menu",
"label":"Navbar"
}
]
}
],
"presets":[
{
"category":"Header",
"name":"Header"
}
]
}
{% endschema %}