<!-- material-section -->
<div class="shopify-section1">
    {%- for block in section.blocks -%}
    {%- render 'srcset', src_name:block.settings.material_image, src_alt:block.settings.image.alt -%}
    <div class="section-details">
        <h3>{{ block.settings.material_form }}</h3>
        <p>{{ block.settings.material_detail }}</p>
        <button>LEARN MORE</button>
    </div>
    {%- endfor -%}
</div>
{% schema %}
{
"name":"Materials",
"blocks":[
{
"name":"Product Material",
"type": "text",
"settings":[
{
"type": "image_picker",
"id":"material_image",
"label":"Material image"
},
{
"type": "text",
"id": "material_form",
"label": "Material form"
},
{
"type": "text",
"id": "material_detail",
"label": "Material detail"
}
]
}
],
"presets":[
{
"category":"Material section",
"name":"Materials"
}
]
}
{% endschema %}