<!-- product-slider -->
<div class="product-section">
    {%- for block in section.blocks -%}
    {%- if block.settings.image -%}
    <div>
        {%- render 'srcset', src_name:block.settings.image, src_alt:block.settings.image.alt -%}
        <div class="product-description">
            <h3>
                {{ block.settings.product_description }}
            </h3>
            <button>SHOP NOW</button>
        </div>
    </div>
    {%- endif -%}
    {%- endfor -%}
</div>

{% schema %}
{
"name": "Product Slide-show",
"blocks": [
{
"name": "Image",
"type": "image",
"settings": [
{
"type": "image_picker",
"id":"image",
"label":"Image"
},
{
"type": "text",
"id":"product_description",
"label":"Product description"
}
]
}
],
"presets":[
{
"category":"Image",
"name":"Slide show"
}
]
}
{% endschema %}