<div class="product-cart12">
    <div class="cart-left">
        <p class="product-price">$500.00 CAD</p>
        <h2>Pandora Jade</h2>
        <label for="quantity">Quantity</label>
        <input type="text" id="quantity">
        <button>ADD TO CART</button>
        <p><em>The product description and imagery are provided care of the wonderful people at <a href="">mlouye</a> .
                This is a real
                bag that you can buy on their store. So head on over to <a href="">mlouye.com</a>. </em></p>
        <p class="product-quote">Inspired by modernist architect Oscar Niemeyer's modern yet sensual aesthetics this
            exquisitely designed
            bag has an eye-catching curvilinear geometry that is finished with an elegant top handle. The bag is
            accompanied with a detachable shoulder strap and trimmed with brushed gold hardware closure.</p>
        <a href="">View the full product &#8594</a>
    </div>
    <div class="cart-right">
        <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Pandora-Jade-p1_1600x1600_32dd65e8-aa91-4a46-847d-2d015a3dd643_720x.jpg?v=1569324621"
            alt="">
    </div>
</div>
{% schema %}
{
"name":"Product cart",
"settings":[],
"presets":[
{
"name":"product-cart"
}
]
}
{% endschema %}