<div class="dynamic-slideshow">
    <video class="slideshow__video" autoplay loop
        src="https://dl.dropbox.com/s/efmasxv2qqj3qe3/y2mate.com%20-%20mlouye_pandora_AJNIeNHnnNs_1080p.mp4?dl=0">
    </video>
    <div class="dynamic-section-content">
        <h2>Inspiration comes in many forms</h2>
        <p>Our bags are expertly designed to accommodate all of life's little challenges. From the home to the
            office, we've got you covered.</p>
        <button>SHOP NOW</button>
    </div>
</div>
{% schema %}
{
"name":"Video bg section",
"settings":[],
"presets":[
{
"name":"video-bg-section"
}
]
}
{% endschema %}