<div class="notification">
    <div class="first">
        <h6>FREE SHIPPING ON ORDERS OVER $100</h6>
    </div>
    <div class="last">
        <h6>OUR STORE IS OPEN FOR BUSINESS DURING COVID-19</h6>
    </div>
</div>
<div class="header">
    <div class="header-left">
        <div class="heading">
            <h1>Yoko & Co</h1>
        </div>
        <div class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Shop</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Blog</a></li>
                <li><a href="">Theme</a></li>
            </ul>
        </div>
    </div>
    <div class="header-right">
        <div class="head-icons">
            <i class="fa fa-search"></i>
            <i class="fa fa-user-circle"></i>
            <i class="fa fa-shopping-cart"></i>
        </div>
    </div>
</div>
<div class="product-section">

    <div>
        <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/son_DSC8464_1512x.jpg?v=1554032530" alt="">
        <div class="product-description">
            <h3>
                Designed in a silhouette & inspired by Art-Deco style.
            </h3>
            <button>SHOP NOW</button>
        </div>
    </div>
    <div>
        <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/DSC9947_copy_300x.jpg?v=1554030077" alt="">
        <div class="product-description">
            <h3>
                Our flagship bag made of sustainable materials. Perfect for any occasion.
            </h3>
            <button>SHOP NOW</button>
        </div>
    </div>
</div>
<div class="collections-grid">
    <div class="yoko-moto">
        <p>At Yoko & Co., our goal is to improve the quality of every bag that we make. We believe <br>that
            manufacturing is a sacred process. We focus on making every day essentials out of luxury <br> materials.
            We
            push the envelope from our studio in Copenhagen.</p>
    </div>
    <div class="grid1">
        <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/Mlouye-Naomi-Belt-Bag-White-3_1600x1600_6302f027-c4d9-4210-b838-ce873c1e81f1_720x.jpg?v=1586995896"
            alt="">
        <div class="collection-details">
            <h3>Clutches</h3>
            <button>Shop Now</button>
        </div>
    </div>
    <div class="grid2">
        <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/Mlouye-Naomi-Belt-Bag-White-2_1600x1600_c144b6eb-10fb-454a-b71e-1348ceb41e41_900x.jpg?v=1554035335"
            alt="">
        <div class="collection-details">
            <h3>The Belt Bag Collection</h3>
            <button>Shop Now</button>
        </div>
    </div>
    <div class="grid3">
        <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/Mlouye-Naomi-Belt-Bag-White-4_1600x1600_60c9825d-2f06-4d21-ba4e-9b22ddaeca6e_720x.jpg?v=1554035859"
            alt="">
        <div class="collection-details">
            <h3>Carryalls</h3>
            <button>Shop Now</button>
        </div>
    </div>
    <div class="collection-box">
        <i class="fa fa-quote-left"></i>
        <h3>
            <q> Beautiful sustainable and ethically made bags at a price point that you can't deny is
                reasonable.</q>
        </h3>
        <p>New Your Times</p>
        <div class="profiles">
            <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/fc3_300x.png?v=1554041132" alt="profile">
        </div>
    </div>
</div>
<div class="shopify-section1">
    <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/Mlouye-Helix-White-3_1600x1600_7a334aad-a1ed-4b0f-9510-b9d2c6be013e_1512x.jpg?v=1554042071"
        alt="Please Wait">
    <div class="section-details">
        <h3>Refined form</h3>
        <p>Innovation being the key factor alongside aesthetic, Mlouye has brought unexpected shapes with smart
            details, functionality and a new luxury feel with a contemporary price point.</p>
        <button>LEARN MORE</button>
    </div>
</div>
<div class="product-sell">
    <div class="description">
        <h4>Best Sellers</h4>
        <p>Featuring a unique combination of modern art and minimalist perspective, Helix is the new shape for
            Spring/Summer ‘19.</p>
        <a href="">Shop Now &#8594</a>
    </div>
    <div class="products">
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Helix-Primrose-Yellow-1_1600x1600_1a0c676b-e581-46b9-924c-6751292a1be4_300x.jpg?v=1569324643"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Helix-Mosstone-1_1600x1600_2fea3d63-1edd-4089-ac15-29a5648ce187_300x.jpg?v=1569324644"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Helix-Orange-1_1600x1600_c485fd35-7253-41a1-9ea7-5fe6f704d7bd_300x.jpg?v=1569324644"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
    </div>
</div>
<div class="product-sell">


    <div class="description">
        <h4>Restocked</h4>
        <p>Naomi is made of twisted polygons to create functional interior space alongside the sculpted structure.
        </p>
        <a href="">Shop Now &#8594</a>
    </div>
    <div class="products">
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Naomi-Shoulder-Bag-Mediterranean-Blue-1_1600x1600_5d3b0322-6fba-4c4a-8a07-560fca6e446a_300x.jpg?v=1569324636"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Naomi-Shoulder-Bag-Cyclamen-1_1600x1600_eb0220b7-6ee1-455f-8c36-c0e65b455435_300x.jpg?v=1569324638"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Naomi-Bag-Multi-2_1600x1600_5be2f883-a26f-46a8-b746-23ad0a04df9a_300x.jpg?v=1569324629"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
    </div>
</div>
<div class="shopify-section1">
    <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/Mlouye-Naomi-Belt-Bag-White-4_1600x1600_60c9825d-2f06-4d21-ba4e-9b22ddaeca6e_1512x.jpg?v=1554035859"
        alt="Please Wait">
    <div class="section-details">
        <h3>The Naomi</h3>
        <p>Naomi is made of sleek geometric panels to maximize the interior space alongside the sculpted structure.
            Fitted with two compartments that are divided by a transparent PVC to make it easy to find your
            belongings.</p>
        <button>SHOP THE COLLECTION</button>
    </div>
</div>
<div class="featured-collection">
    <div class="collection-details">
        <h3>The Fall Collection</h3>
        <p>Our new fall favourites are inspired by the color palettes of falling leaves.</p>
        <a href="">Shop the Collection &#8594</a>
    </div>
    <div class="featured-items">
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Naomi-Bag-Multi-2_1600x1600_5be2f883-a26f-46a8-b746-23ad0a04df9a_300x.jpg?v=1569324629"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Helix-Orange-4_1600x1600_68b7d46d-3a4b-4664-8c25-15436d7739de_300x.jpg?v=1569324644"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Helix-Primrose-Yellow-1_1600x1600_1a0c676b-e581-46b9-924c-6751292a1be4_300x.jpg?v=1569324643"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Helix-Sand-1_1600x1600_e04da685-8b02-4902-93dc-438b6a7d88aa_300x.jpg?v=1569324641"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Helix-White-1_1600x1600_acecf82b-448e-4269-92d8-643e7fa21674_300x.jpg?v=1553969003"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Pandora-Burgundy-p1_1600x1600_088af72e-0e45-400c-8a7b-ad271a501fd8_300x.jpg?v=1569324623"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Pandora-Cyclamen-p1_1600x1600_2845de66-3794-4c6c-aaaf-e9e3484f24ad_300x.jpg?v=1569324623"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
        <div class="product">
            <div class="product-img">
                <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Pandora-Light-Brown-p1_1600x1600_a1485c77-2dbb-460e-a93b-f258cd09f274_300x.jpg?v=1569324623"
                    alt="product">
                <button>Quick Shop</button>
            </div>
            <div class="product-description">
                <p> Helix Yellow</p>
                <p>$250.00 CAD</p>
            </div>
        </div>
    </div>
</div>
<div class="shopify-section1">
    <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/files/Mlouye-Pandora-Jade-p4_1600x1600_1600x_bcd027ea-7cc9-41fa-a55c-8f15fd963696_1512x.jpg?v=1554041614"
        alt="Please Wait">
    <div class="section-details">
        <h3>The Pandora</h3>
        <p>Sculptural outside opens to a surprisingly bright interior. It is padded to protect your daily essentials
            and covered with soft sheepskin for a luxurious finish..</p>
        <button>SHOP THE COLLECTION</button>
    </div>
</div>
<div class="product-cart">
    <div class="cart-left">
        <p class="product-price">$500.00 CAD</p>
        <h2>Pandora Jade</h2>
        <label for="quantity">Quantity</label>
        <input type="text" id="quantity">
        <button>ADD TO CART</button>
        <p><em>The product description and imagery are provided care of the wonderful people at <a href="">mlouye</a> .
                This is a real
                bag that you can buy on their store. So head on over to <a href="">mlouye.com</a>. </em></p>
        <p class="product-quote">Inspired by modernist architect Oscar Niemeyer's modern yet sensual aesthetics this
            exquisitely designed
            bag has an eye-catching curvilinear geometry that is finished with an elegant top handle. The bag is
            accompanied with a detachable shoulder strap and trimmed with brushed gold hardware closure.</p>
        <a href="">View the full product &#8594</a>
    </div>
    <div class="cart-right">
        <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/products/Mlouye-Pandora-Jade-p1_1600x1600_32dd65e8-aa91-4a46-847d-2d015a3dd643_720x.jpg?v=1569324621"
            alt="">
    </div>
</div>
<div class="blogs">
    <div class="blog-post">
        <div class="blog-image">
            <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/articles/Business-Bag-Tan-4_1600x1600_0f5bb464-c4ab-4771-a5a9-f16fe1046b5e_900x.jpg?v=1554063456"
                alt="">
        </div>
        <div class="blog-description">
            <h6>Blog posts</h6>
            <h5>Designing the perfect bag</h5>
            <p>Helix is the new shape for Spring/Summer ‘19. It has a wind spinner silhouette that will remind you
                summer breezes out on the porch. The top handle is cleverly linked to the body through its hidden
                joint; it can fall down when you use the bag with shoulder strap. Made from smooth leather and has a
                suede internal with a drawstring top to keep all you have stowed inside safe and secure. </p>
        </div>
    </div>
    <div class="blog-post">
        <div class="blog-image">
            <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/articles/Mlouye-Helix-White-2_1600x1600_2aebbe7d-f91e-431e-9561-7452ab85aa6c_900x.jpg?v=1554063482"
                alt="">
        </div>
        <div class="blog-description">
            <p>Blog posts</p>
            <h5>Leather highlight</h5>
            <p>In this post, we'll take you through how the leather for each bag is tanned and cured and prepared
                for
                our bags. We usually only the finest leather hides available from organic farmers in the south of
                France. </p>
        </div>
    </div>
    <div class="blog-post">
        <div class="blog-image">
            <img src="https://cdn.shopify.com/s/files/1/0074/8165/5349/articles/Mini-Triangle-Bag-Lavender-3_1600x1600_713aa833-5b98-4b26-9f1d-72d103b0e759_900x.jpg?v=1554062947"
                alt="">
        </div>
        <div class="blog-description">
            <p>Blog posts</p>
            <h5>The making of the mini triangle</h5>
            <p>Ever wondered how we make such picture perfect bags? In this post, our creative director walks you
                through the process of making a new bag from scratch. Take notes young designers.</p>
        </div>
    </div>
</div>
<div class="dynamic-slideshow">
    <video class="slideshow__video" autoplay loop
        src="https://dl.dropbox.com/s/efmasxv2qqj3qe3/y2mate.com%20-%20mlouye_pandora_AJNIeNHnnNs_1080p.mp4?dl=0">
    </video>
    <div class="dynamic-section-content">
        <h2>Inspiration comes in many forms</h2>
        <p>Our bags are expertly designed to accommodate all of life's little challenges. From the home to the
            office, we've got you covered.</p>
        <button>SHOP NOW</button>
    </div>
</div>
<div class="footer">
    <div class="footer-top">
        <p>Join our mailing list</p>
        <input type="email" placeholder="Email address">
    </div>
    <div class="footer-middle">
        <div class="middle-left">
            <h5>About the shop</h5>
            <p>This text is purely a demonstration of <a href=""> Context</a>, a Shopify theme by Fluorescent. The
                imagery has been
                graciously provided by the lovely folks at <a href=""> mlouye</a>. They make leather bags that are
                so beautiful that
                you should drop everything and buy some right now: <a href=""> https://mlouye.com</a>. If you have
                any questions
                about the theme or about this demonstration, <a href=""> don't hesitate to reach out</a>. </p>
        </div>
        <div class="middle-right">
            <div class="footer-nav">
                <p>Main menu</p>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">theme</a></li>
                </ul>
            </div>
            <div class="footer-nav">
                <p>Collectons</p>
                <ul>
                    <li><a href="">Pandora</a></li>
                    <li><a href="">Helix</a></li>
                    <li><a href="">Buisness</a></li>
                    <li><a href="">Naomi</a></li>
                </ul>
            </div>
            <div class="footer-nav">
                <p>Info</p>
                <ul>
                    <li><a href="">About</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Shipping</a></li>
                    <li><a href="">Returns</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="bottom-left">
            <div class="payment-option">
                <select name="currency">
                    <option value="USD$">USD$</option>
                    <option value="EUR€">EUR€</option>
                    <option value="JPY ¥">JPY ¥</option>
                    <option value=" CAD $"> CAD $</option>
                </select>
                <div class="payment-type">
                    <img src="https://img.icons8.com/color/48/000000/visa.png" />
                    <img src="https://img.icons8.com/color/48/000000/mastercard.png" />
                    <img src="https://img.icons8.com/color/48/000000/amex.png" />
                    <img src="https://img.icons8.com/color/48/000000/paypal.png" />
                    <img src="https://img.icons8.com/fluent/48/000000/diners-club.png" />
                    <img src="https://img.icons8.com/color/48/000000/discover.png" />
                </div>
            </div>
            <div class="footer-copyright">
                <p>Copyright © 2021, Yoko & Co.</p>
                <p>Powered by Shopify</p>
            </div>

        </div>
        <div class="social-icons">
            <i class="fa fa-facebook-square"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-pinterest"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-snapchat-ghost"></i>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Slider",
"settings": [
{
"type": "image_picker",
"label": "Slider image1",
"id": "slider_image1"
},
{
"type": "text",
"label": "Slider description1",
"id": "slider_description1"
},
{
"type": "image_picker",
"label": "Slider image2",
"id": "slider_image2"
},
{
"type": "text",
"label": "Slider description2",
"id": "slider_description2"
},
{
"type": "image_picker",
"label": "Slider image3",
"id": "slider_image3"
},
{
"type": "text",
"label": "Slider description3",
"id": "slider_description3"
}
]
}

{% endschema %}