<!-- main-css -->
<style>
    {% assign body_font = settings.body_font %}
    {% assign font_heading = settings.font_heading %}

    {{ body_font | font_face }}
    {{ font_heading | font_face }}

    @font-face {
        font-family: Electra;
        font-weight: 700;
        font-style: normal;
        src: url("https://fonts.shopifycdn.com/electra/electra_n7.e556ba1c0fac019e9b80108ca5b64191633e6644.woff2?&hmac=68e67bda8db8f100a910a762b0b8f40cbaa4b25b2869d7132e2e45f049afe278") format("woff2"),
            url("https://fonts.shopifycdn.com/electra/electra_n7.7731a677192bbf044a8c6dd498f8070bc3b8f6a4.woff?&hmac=0fc961230b21acd31478474b53a20b74c3eeb48a4b16b741f6459f50ce56cdd9") format("woff");
    }

    @font-face {
        font-family: Electra;
        font-weight: 400;
        font-style: normal;
        src: url("https://fonts.shopifycdn.com/electra/electra_n4.e7f1e188161cd73d6b8f91848524f052fe41eab8.woff2?&hmac=30461deb62a175af4b592ab6c83045c1403d1fd10fd06874d38013d7b2fa2e0a") format("woff2"),
            url("https://fonts.shopifycdn.com/electra/electra_n4.ec51b4fe187061b7df113a392ffa018f2faf0ef5.woff?&hmac=e95e1992c413cf39a6fd2d61724e39664493604837dc0d0828eba7ec172ea66b") format("woff");
    }

  
    @font-face {
        font-family: Electra;
        font-weight: 400;
        font-style: italic;
        src: url("https://fonts.shopifycdn.com/electra/electra_i4.6d48a2e8a410fb74b1b8a366fa857106da6517c7.woff2?&hmac=4b4b78f8600d799bd915af2a97f0d94784c950673a511588669167628981e809") format("woff2"),
            url("https://fonts.shopifycdn.com/electra/electra_i4.aa7195262e14d89ce3b7e20c2dd0044cfaec0e1d.woff?&hmac=249ec88337c944453b35d9d69898357646d9f4b036064fb3d299f2ce914f91f7") format("woff");
    }
    
    @font-face {
        font-family: Assistant;
        font-weight: 400;
        font-style: normal;
        src: url("https://fonts.shopifycdn.com/assistant/assistant_n4.bcd3d09dcb631dec5544b8fb7b154ff234a44630.woff2?&hmac=0a2e92d6956b1312ef7d59f4850549a6e43a908ccf24df47f07b0b4c6da5837d") format("woff2"),
            url("https://fonts.shopifycdn.com/assistant/assistant_n4.a2d012304becc2a26f1ded1acc136fcab85c9afd.woff?&hmac=b9c5a10fbc7928e1a963472ba312c273b8be3a9845294066178386bf5c965c98") format("woff");
    }
    
    :root {
        --font-logo: Electra,serif;
        --font-logo-weight: 700;
        --font-logo-style: normal;

        --font-heading: {{font_heading.family}};
        --font-heading-weight: 400;
        --font-heading-style: normal;
        --font-heading-bold-weight: bold;

        --font-body: {{body_font.family}};
        --font-size-body-small: 12px;
        
        --color-accent: {{settings.color_accent}};
        --color-contrast-bg: {{settings.color_contrast_bg}};
         --color-contrast-bg-meta: #eeeeee;

        /* notification-bar */
        --notification-bg-color: {{settings.color_accent}};
        --notification-font-color: {{settings.color_drawer_text}};

        /* header */
        --color-header-text: {{settings.color_header_text}};
        --color-header-bg: {{settings.color_header_bg}};
        --color-header-border: #e2e2e2;
        --font-size-heading-1: {{settings.font_size_heading}};

        /* footer */
        --color-footer-text: #363636;
        --color-footer-bg: #f9f9f9;
        --color-footer-border: #e2e2e2;
        --color-footer-input: #ffffff;
        --color-footer-text-meta: #737373;

        /* Drawer */
        --color-drawer-text: {{settings.color_drawer_text}};
        --color-drawer-text-meta: #868686;

        --font-size-body-base: {{settings.font_size_body_base}};
        --font-size-body-small: 14px;
        --font-size-body-extra-small: 12px;
    }
</style>

<link rel="stylesheet" href="{{ 'style.scss.css' | asset_url  }}">