<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>


<!-- Homepage -->
<script type="text/javascript" src="{{ 'theme.js' | asset_url }}" defer="defer"></script>